<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="ClientServer" verbose="1" parallel="tests" thread-count="2" time-out="60000">
  <test name="Server">
    <classes>
       <class name="com.github.ghetolay.jwamp.test.server.TestServer" />
    </classes>
  </test>
 
  <test name="Client">
    <classes>
      <class name="com.github.ghetolay.jwamp.test.client.TestClient"/>
    </classes>
  </test>
</suite>
